<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>Resume Builder</title>
</head>
<nav>
    <h1 id="main-heading">AUTOMATED RESUME BUILDER
    </h1>
</nav>

<body>
    <div id="main-box">
        <div id="main-content">
            <section id="personal-detail-section">
                <%if(detail.personal_detail){%>
                    <h1>
                        <p id="name">
                            <%= detail.personal_detail.name %>
                        </p>
                    </h1>
                    <p> <b>Phone no-</b> <span id="phone-number"> <%= detail.personal_detail.contact %> </span> </p>
                    <p> <b>Email-</b> <span id="email"> <%= detail.personal_detail.email %> </span> </p>
                    <p style="margin-top: 3px;margin-bottom:4px">
                        <a class="edit-tag" href="/personal-detail/<%=detail.personal_detail.id%>">
                            <h4>EDIT</h4>
                        </a>
                    </p>
                    <%}else{%>
                        <form method="GET" action="/personal-detail">
                            <button class="button button4">ADD+</button>
                        </form>
                        <%}%>
            </section>



            <section id="info-section">
                <div class="info-card">
                    <div class="info-card-head">
                        <h3>EDUCATION</h3>
                    </div>
                    <%if(detail.education_detail){%>
                        <ul class="info-card-detail">
                            <% for(let detail1 of detail.education_detail ){ %>
                                <li style="margin-top:5px">
                                    <div class="info-card-content">
                                        <h4>
                                            <%= detail1.institute %>
                                        </h4>
                                        <h4>
                                            <%=detail1.from%> -
                                                <%=detail1.to%>
                                        </h4>
                                        <h4>CGPA/% -
                                            <%=detail1.percent%>
                                        </h4>
                                    </div>
                                </li>
                                <p style="margin-top: 3px;margin-bottom:4px">
                                    <a class="edit-tag" href="/education-detail/<%=detail.personal_detail.id%>">
                                        <h4>EDIT</h4>
                                    </a>
                                </p>
                                <%} %>
                        </ul>
                        <%}%>
                            <form method="GET" action="/education-detail">
                                <button class="button button4">ADD+</button>
                            </form>
                </div>



                <div class="info-card">
                    <div class="info-card-head">
                        <h3>TECHNICAL SKILLS</h3>
                    </div>

                    <ul class="info-card-detail">
                        <%if(detail.technical_skills){%>
                            <li>
                                <b>Languages: </b>
                                <%=detail.technical_skills.languages%>
                            </li>
                            <p style="margin-top: 3px;margin-bottom:4px">
                                <a class="edit-tag" href="/technical-skills/<%=detail.technical_skills.id%>">
                                    <h4>EDIT</h4>
                                </a>
                            </p>
                            <%}else{%>
                                <form method="GET" action="/technical-skills">
                                    <button class="button button4">ADD+</button>
                                </form>
                                <%}%>
                    </ul>
                </div>


                <div class="info-card">
                    <div class="info-card-head">
                        <h3>PROJECT</h3>
                    </div>
                    <%if(detail.project){%>
                        <ul class="info-card-detail">
                            <% for(let detail1 of detail.project ){ %>
                                <li>
                                    <div class="info-card-content">
                                        <div class="info-card-title">
                                            <h4>
                                                <%=detail1.project%>
                                            </h4>
                                        </div>
                                        <div class="info-card-desc">
                                            <p>
                                                <%=detail1.description%>
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <p style="margin-top: 3px;margin-bottom:4px">
                                    <a class="edit-tag" href="/project/<%=detail1.id%>">
                                        <h4>EDIT</h4>
                                    </a>
                                </p>
                                <% }%>
                        </ul>
                        <%}%>
                            <form action="/project" method="GET">
                                <button class="button button4">ADD+</button>
                            </form>
                </div>

                <div class="info-card">
                    <div class="info-card-head">
                        <h3>WORK EXPERIENCE</h3>
                    </div>
                    <%if(detail.work_experience){%>
                        <ul class="info-card-detail">
                            <% for(let detail1 of detail.work_experience ){ %>
                                <li>
                                    <div class="info-card-content">
                                        <div class="info-card-title">
                                            <h4>
                                                <%=detail1.company%>
                                            </h4>
                                        </div>
                                        <div class="info-card-desc">
                                            <p>
                                                <%=detail1.description%>
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <p style="margin-top: 3px;margin-bottom:4px">
                                    <a class="edit-tag" href="/work-experience/<%=detail1.id%>">
                                        <h4>EDIT</h4>
                                    </a>
                                </p>
                                <% }%>
                        </ul>
                        <%}%>
                            <form action="/work-experience" method="GET">
                                <button class="button button4">ADD+</button>
                            </form>
                </div>

                <div class="info-card">
                    <div class="info-card-head">
                        <h3>ACHIEVEMENTS</h3>
                    </div>
                    <%if(detail.achievement){%>
                        <ul class="info-card-detail">
                            <% for(let detail1 of detail.achievement ){ %>
                                <li>
                                    <%= detail1.achievement %>
                                </li>
                                <p style="margin-top: 3px;margin-bottom:4px">
                                    <a class="edit-tag" href="/achievements/<%=detail1.id%>">
                                        <h4>EDIT</h4>
                                    </a>
                                </p>
                                <%}%>
                        </ul>
                        <%}%>
                            <form action='/achievement' method="GET">
                                <button class="button button4">ADD+</button>
                            </form>
                </div>


            </section>
        </div>
    </div>
</body>

</html>